body
  background-color: #f0f7f5
img
  object-fit: contain
  width: 10%
select
  border: none
  background: url("../images/Arrow-down.png") 96% / 40% no-repeat #c0392b
  width: 40%
  -webkit-appearance: none
  color: white
option
  background-color: #Ef5f4f
#menu
  background-color: #2980b9
  color: white
#logo
  background-color: #1b93e1
#logo_im
  width: 50%!important
#upper_left_tile
  background-color: #e67e22
#upper_middle_tile
  background-color: #e74c3c
#upper_right_tile
  background-color: #c0392b
  align-items: center
#grey
  background-color: #e6e6e6
#second_left
  background-color: #7f8c8d
  color: white
#second_center
  background-color: #1b93e1
  color: white
#second_right
  color: white
  background-color: #7f8c8d
#third
  background-color: #34495e
#fourth_left
  background-color: #f39c12
#fourth_right
  background-color: #bdc3c7
#fifth_left
  background-color: #e74c3c
#fifth_right
  background-color: #1b93e1
#sixth_left
  background-color: #1b93e1
#sixth_right
  background-color: #8e44ad
#seventh
  background-color: #e74c3c
.menu_item
  background-color: #1b93e1
  padding-left: 5%
.menu_row
  padding-left: 6%
  display: flex
  align-items: center
.menu_row img
  width: 20px
.menu_row:hover
  background-color: #7f8c8d
.image_button:hover
  padding: 5px
.upper_tiles
  display: flex
  justify-content: space-around

